<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <RollingFile name="RollingFile" fileName="${sys:logging.path}/kvdb.log"
                     filePattern="logs/$${date:yyyy-MM}/kvdb-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %-5level [%t]%l - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="${sys:logging.level}">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>